[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
install = "*"
pre-commit = "*"
pandas = "*"
unicode = "*"
unidecode = "*"
black = "*"
isort = "*"
flake8 = "*"
dbt-core = "*"
dbt-bigquery = "*"
apache-airflow-providers-google = "*"
apache-airflow = "*"
pyspark = "*"
kafka-python = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.11"
